extends layout

block content
  h1 Availible Routes
  .row
  a.button.btn.btn-primary.m-2(href="/") Home #{title}
  .row
  a.button.btn.btn-primary.m-2(href="/all/day")  All Day Pairs
  .row
  a.button.btn.btn-primary.m-2(href="/pair/day")  Daily Pair #{title}
  .row
  a.button.btn.btn-primary.m-2(href="/pair/week")  Weekly Pair #{title}
  .row
  a.button.btn.btn-primary.m-2(href="/pair/MTD")  MTD Pair #{title}
  .row
  a.button.btn.btn-primary.m-2(href="/pair/YTD")  YTD Pair #{title}


